{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<section>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold">{{job.title}}</h2>
            <p class="col-md-8 fs-5 mt-3">
                {{job.location}}| {{job.salary|intcomma}}
            </p>
            {% if has_applied == False %}
            <a class="btn btn-primary btn-lg" href="{% url 'apply-to-job' job.pk %}">Apply Now</a>
            {% else %}
            <p><span class="text-danger">You Have Already Applied For This Job!</span></p>
            {% endif %}
        </div>
    </div>
</section>


<div>
    <section>
        <h5>Job description</h5>
        <p>
            {{job.description}}
        </p>
    </section>
</div>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="'col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">other details</h5>
                <p class="card-text">wider space for additional content</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">last updated n mintues ago</small>
            </div>
        </div>
    </div>

    <div class="'col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">about the company</h5>
                <p class="card-text">{{job.company.name}}</p>
                <p class="card-text">{{job.company.est_date}}</p>
                <p class="card-text">{{job.company.location}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">last updated n mintues ago</small>
            </div>
        </div>
    </div>

    <div class="'col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">related jobs</h5>
                <p class="card-text">wider space for additional content</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">last updated n mintues ago</small>
            </div>
        </div>
    </div>
</div>
<br>

{% endblock content %}