<!doctype html>
<html lang="en">

<head>
    <!--required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Bootstrap CSS-->
    <!--link href-->
    <title>jobPortal</title>
</head>

<body>
    <nav class="'navbar navbar-expand-lg navabr-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">jobPortal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="'navbarSupportedContent"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="'navbarSupportedContent">
                {% if request.user.is_authenticated %}
                {% if request.user.is_applicant %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="'page" href="{% url 'home' %}">Home</a>
                    </li>
                    {% if request.user.has_resume %}
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'update-resume' %}">Update Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Apply to Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="btn btn-primary">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'update-resume' %}">Create Resume</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="btn btn-primary">Logout</a>
                    </li>

                    {% endif %}
                    <!--li class="nav-item droprown">
                        <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="droprown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action1</a></li>
                        <li><a class="dropdown-item" href="#">Action2</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li-->
                    <!--li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li-->
                </ul>
                {% elif request.user.is_recruiter %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="'page" href="#">Home</a>
                    </li>
                    {% if request.user.has_company %}
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'create-job' %}">Create Job Ads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{%  url 'update-company' %}">Update Company</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="btn btn-primary">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link " href="{%  url 'update-company' %}">Create Company</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="btn btn-primary">Logout</a>
                    </li>
                    {% endif %}

                    <!--li class="nav-item droprown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="droprown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action1</a></li>
                            <li><a class="dropdown-item" href="#">Action2</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li-->
                </ul>
                {% endif %}
                {% elif not user.is_authenticated %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="'page" href="{% url 'job-listing' %}">All Jobs</a>
                    </li>
                    <!--li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li-->
                    <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Log In</a>
                </ul>
                {% endif %}
                <!--a href="{% url 'register-applicant' %}" class="btn btn-primary btn-sm">Register As Applicant</a-->
                <!--a href="{% url 'register-recruiter' %}" class="btn btn-primary btn-sm">Register As Recruiter</a-->

            </div>
        </div>
    </nav>

    <div class="container mt-5">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">
            <b>{{message}}</b>
        </div>

        {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}

        <!--section class="p-5 mb-4 bg-light rounded-3">
            
        </section-->
    </div>
</body>

</html>